body{
    background-color : white;
    height : 100%;
    font-family: 'Nanum Gothic', sans-serif;


}

nav{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 12px;
    background: lightgreen;
}



table{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 12px;
    border-radius: 5%;
    background: white;

}
b{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 20px;

}
.a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 20px;
    color:white;
}
active
{
    color:white;

}