body{
    background-color : aliceblue;
    height : 100%;
    font-family: 'Noto Sans KR', sans-serif;

}

nav{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 24px;
}

div {
    border-radius: 5%;

}

table{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 12px;
    border-radius: 5%;
    background: white;

}
b{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 20px;

}
