{% extends "index.html" %}

{% block content %}
<body>
<div>
    {% if fav %}
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>종목</B></td>
                <td><B>종가</B></td>
                <td><B>구매 금액</B></td>
                <td><B>구매 수량</B></td>
                <td><B>수익</B></td>
                <td><B>  </B></td>
                <td><B>  </B></td>
            </tr>
            </thead>
            <tbody>
            {% for stock in fav %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.close }}</td>
                {% if stock.price %}
                <td>{{ stock.price }}</td>
                <td>{{ stock.cnt }}</td>
                <td>수익계산식</td>
                {% else %}
                <td><B>  </B></td>
                <td><B>  </B></td>
                <td><B>  </B></td>
                {% endif %}
                <td> <button>입력</button> </td>
                <td> <button>삭제</button> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
</body>
{% endblock %}