{% extends "index.html" %}

{% block content %}
<body>
<div>
    {% if fav %}
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>종목</B></td>
                <td><B>종가</B></td>
                <td><B>평균 금액</B></td>
                <td><B>수량</B></td>
                <td><B>수익</B></td>
                <td><B>  </B></td>
                <td><B>  </B></td>
            </tr>
            </thead>
            <tbody>
            {% for stock in fav %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.close }}</td>
                {% if stock.price %}
                <td>{{ stock.price }}</td>
                <td>{{ stock.cnt }}</td>
                {% if stock.prof > 0 %}
                <td  style="color:red;'" >+{{ stock.prof }}원 (+{{ stock.rate }}%)</td>
                {% elif stock.prof < 0 %}
                <td  style="color:blue;'" >{{ stock.prof }}원 ({{ stock.rate }}%)</td>
                {% endif %}
                {% else %}
                <td><B>  </B></td>
                <td><B>  </B></td>
                <td><B>  </B></td>
                {% endif %}
            <form method="post" action = "{% url 'alter' %}">
                {% csrf_token %}
                <td> <button type="submit" name="fav{{ forloop.counter0 }}_buy" id="fav{{ forloop.counter0 }}_buy" value="{{ stock.name }}">매수</button>
                <button type="submit" name="fav{{ forloop.counter0 }}_sell" id="fav{{ forloop.counter0 }}_sell" value="{{ stock.name }}">매도</button></td>
            </form>
                <td> <button>삭제</button> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
</body>
{% endblock %}