{% extends "test2.html" %}

{% block content3 %}

    <div class="row">

    <div class ="col bg-white text-center mt-1"  id="ifrs_room">

       <div>
           <table class="mt-5 mp-5 table table-hover table-responsive bg-transparent table-bordered">
               <tbody>
               <tr>
                   <th rowspan="2">날짜</th>
                   <th rowspan="2">종가</th>
                   <th rowspan="2">전일비</th>
                   <th rowspan="2">등락률</th>
                   <th rowspan="2">거래량</th>
                   <th >기관</th>
                   <th colspan="3">외국인</th>
               </tr>
               <tr>
                   <th>순매매량</th>
                   <th>순매매량</th>
                   <th>보유주수</th>
                   <th>보유율</th>
               </tr>
               {% for data in invest %}
               <tr>
                   <th>{{ data.0 }}</th>
                   <th>{{ data.1 }}</th>
                   {% if data.3.0 == "+" %}
                   <th style="color:red;">+{{ data.2 }}</th>
                   <th style="color:red;">{{ data.3 }}</th>
                   {% elif data.3.0 == "-" %}
                   <th style="color:blue;'">-{{ data.2 }}</th>
                   <th style="color:blue">{{ data.3 }}</th>
                   {% else %}
                   <th>{{ data.2 }}</th>
                   <th>{{ data.3 }}</th>
                   {% endif %}
                   <th>{{ data.4 }}</th>
                   {% if data.5.0 == "+" %}
                   <th style="color:red;">{{ data.5 }}</th>
                   {% elif data.5.0 == "-" %}
                   <th style="color:blue;">{{ data.5 }}</th>
                   {% else %}
                   <th>{{ data.5 }}</th>
                   {% endif %}
                   {% if data.6.0 == "+" %}
                   <th style="color:red;">{{ data.6 }}</th>
                   {% elif data.6.0 == "-" %}
                   <th style="color:blue;">{{ data.6 }}</th>
                   {% else %}
                   <th>{{ data.6 }}</th>
                   {% endif %}
                   <th>{{ data.7 }}</th>
                   <th>{{ data.8 }}</th>
               </tr>
               {% endfor %}
               </tbody>
           </table>
       </div>
    </div>
    </div>

{% endblock %}