<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Stock Info</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <section class="login">

        <div id="time" class="time"></div>
      <h1>Stock Info</h1>
      <form METHOD="post" ACTION="{% url 'login' %}">
          {% csrf_token %}
        <div class="int-area">
          <input type="text" name="id" id="id" autocomplete="off" required />
          <label for="id">아이디</label>
        </div>
        <div class="int-area">
          <input
            type="password"
            name="pw"
            id="pw"
            autocomplete="off"
            required
          />
          <label for="pw">비밀번호</label>
        </div>
        <div class="btn-area">
          <button id="btn" type="submit">로그인</button>
        </div>
      </form>
        <div class="caption">
          <a href="{% url 'register' %}" >회원가입</a>
        </div>
        <div class="caption">
          <a href="{% url 'register' %}">비밀번호를 잊으셨나요?</a>
        </div>


    </section>

    </div>

    <script>
      let id = $("#id");
      let pw = $("#pw");
      let btn = $("#btn");

      $(btn).on("click", function () {
        if ($(id).val() == "") {
          $(id).next("label").addClass("warning");
          setTimeout(function () {
            $("label").removeClass("warning");
          }, 1500);
        } else if ($(pw).val() == "") {
          $(pw).next("label").addClass("warning");
          setTimeout(function () {
            $("label").removeClass("warning");
          }, 1500);
        }
      });
    </script>
      <hr />

        <div id="date" class="relative-bottom;"></div>
  </body>
        <script>
            function setClock(){


            var dateInfo = new Date();
            var hour = modifyNumber(dateInfo.getHours());
            var min = modifyNumber(dateInfo.getMinutes());
            var sec = modifyNumber(dateInfo.getSeconds());
            var year = dateInfo.getFullYear();
            var month = dateInfo.getMonth()+1;
            var date = dateInfo.getDate();
            document.getElementById("time").innerHTML = hour + ":" + min + ":" + sec;
            document.getElementById("date").innerHTML = year+ "년" +month + "월" + date + "일";
            }
            function modifyNumber(time){
                if(parseInt(time)<10){
                    return "0" + time;
                }
                else
                    return time;
            }
            window.onload = function(){
                setClock();
                setInterval(setClock,1000);
            }
        </script>

</html>
