{% extends "index.html" %}

{% block content %}
<h1>
<nav class="navbar navbar-expand-lg navbar-light " >
  <div class="container-fluid">
    <a class="navbar-brand active" href="{% url 'main'%}" id="maintext"style="color:blueviolet">Stock Info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" >
          <a class="nav-link" href="{% url 'favorite' %}"style="font-family: 'Nanum Gothic', sans-serif;font-size : 25px;">관심그룹</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href ="{% url 'nowstock' %}"style="font-family: 'Nanum Gothic', sans-serif;font-size : 25px;">종목 검색</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'board' %}"style="font-family: 'Nanum Gothic', sans-serif;font-size : 25px;" >토론방</a>
        </li>

      </ul>
      <form class="d-flex">
        <div id="time" class="time me-3"style="font-family: 'Nanum Gothic', sans-serif;font-size : 25px;"></div>

        <a class="btn btn-danger" href="{% url 'login' %}" role="button">로그아웃</a>
      </form>
    </div>
  </div>
</nav>
</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-6 border-end border-1 text-center mt-1 border-dark" >



    <table class="table table-hover table-borderless table-responsive bg-transparent">

    <thead>
        <th style="  font-family: 'Nanum Gothic', sans-serif;font-size:30px;border-bottom: black"> 최근 많이 본 기사</th>
    </thead>
    <tbody>
    {% for key, value in news.items %}         <! -- for tag 시작 -->
        <tr>
            <td style="font-family: 'Nanum Gothic', sans-serif;font-size : 16px;" ><a href = "https://{{ value }}" style="text-decoration-line: none;color:black">{{ key }} </a></td>
        </tr>
        {% endfor %}                          <! -- for tag 종료 -->
    </tbody>

    </table>

</div>



        <div class="col-md-6  d-inline-block">

                <div class="container">
                    <mark class=" bg-transparent mt-1 text-center" style="color:black;font-size : 60px;"><b style="font-family: 'Nanum Gothic', sans-serif;font-size : 30px;">※ 코스피</b></mark>
                    <div id="kospi" class="d-flex flex-column mt-3">
                        <table id="kospi-table" class="table table-hover table-striped table-bordered border-light align-middle" style="background-color:lightgreen">
                            <tbody>
                              <tr>
                                <td>지수</td>
                                {% if Kospi_f.1.0 == "+" %}
                                  <td style="color:orangered;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kospi_scham}}</td>
                                {% elif Kospi_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size :15px;">{{Kospi_scham}}</td>
                                {% else %}
                                  <td>{{Kospi_scham}}</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td>등락</td>
                                {% if Kospi_f.1.0 == "+" %}
                                  <td style="color:orangered;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% elif Kospi_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% else %}
                                  <td style="font-family: 'Nanum Gothic', sans-serif;font-size : 10px;">{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% endif %}
                              </tr>
                            </tbody>
                        </table>
                        <img class="border border-2" src="{{Kospi_chart_url}}">
                        <c class ="text-center" style="font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">({{Kospi_trading.0}}, {{Kospi_trading.1}}, {{Kospi_trading.2}})</c>
                    </div>
                </div>
                <div class="container">
                    <mark class="bg-transparent text-center" style="font-family: 'Noto Sans KR', sans-serif;font-size :50px;"><b style="font-family: 'Nanum Gothic', sans-serif;font-size : 30px;">※ 코스닥</b></mark>
                    <div id="kosdaq" class="d-flex flex-column mt-3">
                        <table id="kosdaq-table" class="table table-hover table-striped table-bordered border-light align-middle" style="background-color:lightgreen">
                            <tbody>
                              <tr>
                                <td>지수</td>
                                {% if Kosdaq_f.1.0 == "+" %}
                                  <td style="color:orangered;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_scham}}</td>
                                {% elif Kosdaq_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_scham}}</td>
                                {% else %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_scham}}</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td>등락</td>
                                {% if Kosdaq_f.1.0 == "+" %}
                                  <td style="color:orangered;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% elif Kosdaq_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% else %}
                                  <td style="color:dodgerblue;font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% endif %}
                              </tr>
                            </tbody>
                        </table>
                        <img class="border border-2" src="{{Kosdaq_chart_url}}">
                        <c class ="text-center" style="font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">({{Kosdaq_trading.0}}, {{Kosdaq_trading.1}}, {{Kosdaq_trading.2}})</c>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="border-top border-dark col text-center" id="exchange">
        <d class="mt-5" style="font-family: 'Nanum Gothic', sans-serif;font-size : 20px;">환율</d>
        <table class="table table-responsive align-middle table-borderless bg-transparent">
            <tbody>
            {% for key, value in ex_dict.items %}
                <tr>
                <td style="font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{ key }}</td><td style="font-family: 'Nanum Gothic', sans-serif;font-size : 15px;">{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
    </div>
<style>
thead{
    font-family: 'Noto Sans KR',sans-serif;
     font-size : 30px;
}
</style>
        <script>
            function setClock(){


            var dateInfo = new Date();
            var hour = modifyNumber(dateInfo.getHours());
            var min = modifyNumber(dateInfo.getMinutes());
            var sec = modifyNumber(dateInfo.getSeconds());
            var year = dateInfo.getFullYear();
            var month = dateInfo.getMonth()+1;
            var date = dateInfo.getDate();
            document.getElementById("time").innerHTML = hour + ":" + min + ":" + sec;
            document.getElementById("date").innerHTML = year+ "년" +month + "월" + date + "일";
            }
            function modifyNumber(time){
                if(parseInt(time)<10){
                    return "0" + time;
                }
                else
                    return time;
            }
            window.onload = function(){
                setClock();
                setInterval(setClock,1000);
            }
        </script>
{% endblock %}
