{% extends "index.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class ="col-md-6 bg-white text-center mt-1" >



    <table class="table table-hover table-responsive bg-transparent">

    <thead>
        <th style=" font-family: 'Noto Sans KR', sans-serif;font-size : 25px;"> 최근 많이 본 기사</th>
    </thead>
    <tbody>
    {% for key, value in news.items %}         <! -- for tag 시작 -->
        <tr>
            <td style=" font-family: 'Noto Sans KR', sans-serif;font-size : 16px;" ><a href = "https://{{ value }}" style="text-decoration-line: none;">{{ key }} </a></td>
        </tr>
        {% endfor %}                          <! -- for tag 종료 -->
    </tbody>

    </table>

</div>



        <div class="col-md-6 bg-white  d-inline-block">

                <div class="container">
                    <mark class=" bg-transparent mt-1 text-center" style="font-family: 'Noto Sans KR', sans-serif;font-size : 60px;"><b>※ 코스피</b></mark>
                    <div id="kospi" class="d-flex flex-column mt-3">
                        <table id="kospi-table" class="table table-hover table-striped table-bordered border-light align-middle" style="background-color:lightgreen">
                            <tbody>
                              <tr>
                                <td>지수</td>
                                {% if Kospi_f.1.0 == "+" %}
                                  <td style="color:orangered;">{{Kospi_scham}}</td>
                                {% elif Kospi_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;">{{Kospi_scham}}</td>
                                {% else %}
                                  <td>{{Kospi_scham}}</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td>등락</td>
                                {% if Kospi_f.1.0 == "+" %}
                                  <td style="color:orangered;">{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% elif Kospi_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;">{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% else %}
                                  <td>{{Kospi_f.0}}({{Kospi_f.1}})</td>
                                {% endif %}
                              </tr>
                            </tbody>
                        </table>
                        <img class="border border-2" src="{{Kospi_chart_url}}">
                        <c class ="text-center">({{Kospi_trading.0}}, {{Kospi_trading.1}}, {{Kospi_trading.2}})</c>
                    </div>
                </div>
                <div class="container">
                    <mark class="bg-transparent text-center" style="font-family: 'Noto Sans KR', sans-serif;font-size :50px;"><b >※ 코스닥</b></mark>
                    <div id="kosdaq" class="d-flex flex-column mt-3">
                        <table id="kosdaq-table" class="table table-hover table-striped table-bordered border-light align-middle" style="background-color:lightgreen">
                            <tbody>
                              <tr>
                                <td>지수</td>
                                {% if Kosdaq_f.1.0 == "+" %}
                                  <td style="color:orangered;">{{Kosdaq_scham}}</td>
                                {% elif Kosdaq_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;">{{Kosdaq_scham}}</td>
                                {% else %}
                                  <td>{{Kosdaq_scham}}</td>
                                {% endif %}
                              </tr>
                              <tr>
                                <td>등락</td>
                                {% if Kosdaq_f.1.0 == "+" %}
                                  <td style="color:orangered;">{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% elif Kosdaq_f.1.0 == "-" %}
                                  <td style="color:dodgerblue;">{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% else %}
                                  <td>{{Kosdaq_f.0}}({{Kosdaq_f.1}})</td>
                                {% endif %}
                              </tr>
                            </tbody>
                        </table>
                        <img class="border border-2" src="{{Kosdaq_chart_url}}">
                        <c class ="text-center">({{Kosdaq_trading.0}}, {{Kosdaq_trading.1}}, {{Kosdaq_trading.2}})</c>
                    </div>
                </div>
            </div>
        </div>
    <div class='row'>
        <div class ="col bg-white text-center" id="exchange">
        <table class="table table-responsive align-middle">
            <thead>환율</thead>
            <tbody>
            {% for key, value in ex_dict.items %}
                <tr>
                <td style="  font-family: 'Noto Sans KR', sans-serif; font-size : 12px;">{{ key }}</td><td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
    </div>
<style>
thead{
    font-family: 'Noto Sans KR',sans-serif;
     font-size : 30px;
}
</style>

{% endblock %}
