{% extends "nowstock.html" %}

{% block content2 %}

    <head>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '종가',],
          {% for val in var %}
              ['{{ val.0 }}', {{ val.1 }}],
            {% endfor %}
        ]);

        var options = {
          title: '{{ corp_name }}',
          titlePosition: 'center',
          colors: ['red'],
          lineWidth: 4,
          curveType: 'function',
          legend: 'none',
          pointSize: 5,



        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    </head>
       <div class="container">
    <div class="row">
    <form method="post" action = "{% url 'test2' %}">
        {% csrf_token %}
        <button class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" type="submit" name="fav" id="fav" value="{{ corp_name }}">관심등록</button>

    </form>

    </div>

{% block content3 %}



{% endblock %}
    <div id="curve_chart" style="height: 500px; align-content: center;"></div>

        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'test3' %}" role="button">종목소개</a>
        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'investor' %}" role="button">거래량/투자자</a>
        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'FS' %}" role="button">재무제표</a>
        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'opin' %}" role="button">투자의견</a>
        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'news' %}" role="button">뉴스</a>
        <a class="btn btn-outline-light" style ="font-family: 'Noto Sans KR', sans-serif;font-size : 20px;color:black;background-color:lightgreen;" href="{% url 'commu' %}" role="button">주식 토론방</a>


    <div class="row">
        <div class =" text-center mt-1" >
    {% for text in summary %}
        <p style=" font-family: 'Noto Sans KR', sans-serif;font-size : 23px;">{{ text }}</p>
    {% endfor %}
    </div>



{% endblock %}

