{% extends "nowstock.html" %}
{% block content2 %}
    <head>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '종가',],
          {% for val in var %}
              ['{{ val.0 }}', {{ val.1 }}],
            {% endfor %}
        ]);

        var options = {
          title: '{{ corp_name }}',
          curveType: 'function',
          legend: { position: 'bottom' },
            textAlign: 'center'
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    </head>
    <div id="curve_chart" style="height: 500px; align-content: center;"></div>
{% endblock %}

