{% extends "nowstock.html" %}

{% block content2 %}
    <head>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '종가',],
          {% for val in var %}
              ['{{ val.0 }}', {{ val.1 }}],
            {% endfor %}
        ]);

        var options = {
          title: '{{ corp_name }}',
          titlePosition: 'center',
          colors: ['red'],
          lineWidth: 4,
          curveType: 'function',
          legend: 'none',
          pointSize: 5,



        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    </head>
    <form method="post" action = "{% url 'test2' %}">
        {% csrf_token %}
        <button type="submit" name="fav" id="fav" value="{{ corp_name }}">관심</button>
    </form>

    <div id="curve_chart" style="height: 500px; align-content: center;"></div>

    <!--재무제표-->
    <div class="x_content" id="ifrs_room">



                      {{ ifrs|safe }}



                  </div>
    <!---------->

{% endblock %}

